.indicator-progress {
    display: none;

    [data-kt-indicator="on"] > & {
        display: inline-block;
    }
}

.indicator-label {
    [data-kt-indicator="on"] > & {
        display: none;
    }
}

.filter-container {
    display: flex;
    align-items: center;
  }
  
  .today-filter {
    margin-left: 20px;
    padding: 15px;
  }
  .dialog-buttons {
    display: flex;
    justify-content: space-between;
  }
  
  .no-button {
    margin-right: 10px; /* Adjust the margin as needed */
  }
  .right-values {
    display: flex;
    justify-content: flex-end; /* Aligns items horizontally to the right */
    align-items: flex-end; /* Aligns items vertically to the bottom */
    flex-direction: column; /* Stacks items vertically */
}
.Balance-Today,
.Total-Balance {
    font-family: Arial, sans-serif; /* Example font */
    font-size: 16px; /* Example font size */
    color: #333; /* Example text color */
    color: blue;
    margin-bottom: 5px; /* Example margin for spacing between items */
}
.right-values {
  display: flex;
  justify-content: flex-end;
}


.currency-value {
  color: green; /* Set the text color of the currency values to green */
  margin-right: 15px; /* Adjust the margin as needed */
}

