.indicator-progress {
    display: none;

    [data-kt-indicator="on"] > & {
        display: inline-block;
    }
}

.indicator-label {
    [data-kt-indicator="on"] > & {
        display: none;
    }
}

.filter-container {
    display: flex;
    align-items: center;
  }
  
  .today-filter {
    margin-left: 20px;
    padding: 15px;
  }
  .dialog-buttons {
    display: flex;
    justify-content: space-between;
  }
  
  .no-button {
    margin-right: 10px; /* Adjust the margin as needed */
  }
  .right-values {
    display: flex;
    justify-content: flex-end; /* Aligns items horizontally to the right */
    align-items: flex-end; /* Aligns items vertically to the bottom */
    flex-direction: column; /* Stacks items vertically */
  }
  
  .Balance-Today,
  .Total-Balance {
    font-family: Arial, sans-serif; /* Example font */
    font-size: 15px; /* Example font size */
    margin-bottom: 7px; /* Example margin for spacing between items */
  }
  
  .Balance-Today .label,
  .Total-Balance .label {
    color: blue; /* Set text color of labels to blue */
  }
  
  .currency-value {
    color: green !important; /* Set the text color of the currency values to green */
    margin-right: 15px; /* Adjust the margin as needed */
  }

