<div class="card-container">
  <h2>{{ 'CARDHOLDER_INFORMATION' | translate }}</h2>

 
  <div class="card-details">
 
    <div class="card-details-section">
     

      <div class="card-item">
        <label class="card-label">{{ 'CardHolderName' | translate }}:</label>
        <div class="card-value">{{ cardHolder.name }}</div>
      </div>
      
      <div class="card-item">
        <label class="card-label">{{ 'PhoneNumber' | translate }}:</label>
        <div class="card-value">{{ cardHolder.countryPhonecode }}{{ cardHolder.phoneNumber }}</div>
      </div>
      <div class="card-item">
        <label class="card-label">{{ 'PASSPORT_ID' | translate }} :</label>
        <div class="card-value"> {{ cardHolder.passportId }}</div>
      </div>
      <div class="card-item">
        <label class="card-label">{{ 'Email' | translate }}:</label>
        <div class="card-value">{{ cardHolder.email }}</div>
      </div>
      <div class="card-item">
        <label class="card-label">{{ 'BirthDate' | translate }}:</label>
        <div class="card-value">{{ cardHolder.birthDate }}</div>
      </div>

  
      <!-- ... additional public details ... -->
    </div>


    <div class="card-details-section">
    

    <div class="card-item">
      <label class="card-label">{{ 'CardholderNumber' }}:</label>
      <div class="card-value">{{ cardHolder.cardholderNumber}}</div>    
    </div>


    <div class="card-item">
      <label class="card-label">{{ 'ValidCard' | translate }}:</label>
      <div class="card-value">{{ cardHolder.date1 | date:'MM/yy' }}--{{ cardHolder.date2 | date:'MM/yy' }}</div>
    </div>
    <div class="card-item">
      <label class="card-label">{{ 'CardType' | translate }}:</label>
      <div class="card-value">{{ cardHolder.cardtype }}</div>
    </div>



    <!-- Hidden Information -->

  </div>
</div>
