.mat-stepper-horizontal {
    margin-top: 8px;
  }
  
  .mat-mdc-form-field {
    margin-top: 16px;
  }
  
  .custom-margin {
    margin-bottom: 16px; /* You can adjust the margin as per your preference */
  }
  
  .custom-padding {
    padding: 16px; /* You can adjust the padding as per your preference */
  }
  .mat-form-field {
    margin-bottom: 20px; /* You can adjust the margin to increase or decrease the spacing between fields */
  }