<div class="sidebar-panel">
    <div id="scroll-area" [perfectScrollbar] class="navigation-hold" fxLayout="column">
        <div class="sidebar-hold">

            <!-- App Logo -->
            <div class="branding">

            </div>
            <!-- Sidebar user -->
            <div class="app-user">
                <div class="app-user-photo">
                <img src="assets/images/logo-smt.png" class="mat-elevation-z1" alt="">
                </div>
                <div class="app-user-details">
                    <div class="app-user-name">
                      <mat-icon class="icon-xs text-muted">account_circle </mat-icon>
                      <span class="value">  {{username | titlecase}}</span>
                      <div></div>
                      <mat-icon class="icon-xs text-muted"> lock </mat-icon>
                      <span class="value"> {{role}}</span>
                    </div>
                  </div>
            </div>
            <!-- Navigation -->
            <app-sidenav [items]="menuItems" [role]="role" [hasIconMenu]="hasIconTypeMenuItem" [iconMenuTitle]="iconTypeMenuTitle"></app-sidenav>
        </div>
    </div>
</div>