

<h1 matDialogTitle>{{data.title}}</h1>
{{"ADD" | translate }} {{"Card" | translate }}
    <form [formGroup]="basicForm" (ngSubmit)="submitForm()">
      <ng-template matStepLabel>{{ 'CARD_INFORMATION' | translate }}</ng-template>
    <div fxLayout="row wrap" fxLayout.xs="column" style="font-size: 14px" class="custom-container">


      <div fxFlex="45"  class="pr-16">
       
      <ng-container >
        <mat-form-field class="full-width">
          <mat-label>Select bin</mat-label>
          <mat-select formControlName="bin">
            <mat-option *ngFor="let x of bins" [value]="x.binId">{{ x.cardBrand }}</mat-option>
          </mat-select>
        </mat-form-field>
        <small *ngIf="basicForm.controls['bin'].hasError('required') && basicForm.controls['bin'].touched" class="form-error-msg">{{ 'Select bin' | translate }}</small>
      </ng-container>
      
    </div>
    <div fxFlex="45"  class="pr-16">
              <mat-form-field class="full-width" #inputField>
                <input
                  matInput
                  name="firstAccount"
                  formControlName="firstAccount"
                  placeholder="{{ 'FIRST_ACCOUNT_LABEL' | translate }}"
                  value=""
 
                >
              </mat-form-field>
            
              </div>
          


                <div fxFlex="45"  class="pr-16">
                  <mat-form-field class="full-width" >
                    <input
                      matInput
                      name="Name"
      
                      formControlName="name"
                      placeholder=" {{ 'CardHolderName' | translate }}"
                      pattern="[a-zA-Z ]*"
                      value=""
                    >
                  </mat-form-field>
                  <small *ngIf="basicForm.controls['name'].hasError('required') && basicForm.controls['name'].touched" class="form-error-msg">{{ 'CARD_HOLDER_NAME_REQUIRED' | translate }}</small>
                  <small *ngIf="basicForm.controls['name'].hasError('pattern') && basicForm.controls['name'].touched" class="form-error-msg">{{ 'CARD_HOLDER_NAME_PATTERN' | translate }}</small>
                  
                </div>
                <div fxFlex="45"  class="pr-16">
                  <mat-form-field class="full-width">
                    <input
                      matInput
                      name="Address"
                      formControlName="address"
                      placeholder="{{ 'ADDRESS1' | translate }}"
                      value=""
                      pattern="[a-zA-Z0-9 ]*"
                      maxlength="32"
                    >
                  </mat-form-field>
                  <small *ngIf="basicForm.controls['address'].hasError('required') && basicForm.controls['address'].touched" class="form-error-msg">{{ 'ADDRESS1_REQUIRED' | translate }}</small>
                </div>

                  <small *ngIf="basicForm.controls['address'].hasError('required') && basicForm.controls['address'].touched" class="form-error-msg">{{ 'ADDRESS_1_REQUIRED' | translate }}</small>
                  <small *ngIf="basicForm.controls['address'].hasError('pattern') && basicForm.controls['address'].touched" class="form-error-msg">{{ 'ADDRESS_1_PATTERN' | translate }}</small>

                <div fxFlex="45"  class="pr-16">
                  <mat-form-field class="full-width">
                    <input
                      matInput
                      name="CorporateName"
                      formControlName="corporateName"
                      placeholder="{{ 'CORPORATE_NAME' | translate }}"
                      pattern="[a-zA-Z ]*"
                      value=""
                    >
                  </mat-form-field>
                  <small *ngIf="basicForm.controls['corporateName'].hasError('pattern') && basicForm.controls['corporateName'].touched" class="form-error-msg">{{ 'CORPORATE_NAME_PATTERN' | translate }}</small>
    
                 
                </div>


                
            <div fxFlex="45"  class="pr-16">
              <mat-form-field class="full-width">
              <input
                  matInput
                  type="email"
                  name="email"
                  formControlName="email"
                  placeholder="{{ 'EMAIL' | translate }}"
                  value="">
              </mat-form-field>
              <small *ngIf="basicForm.controls['email'].hasError('required') && basicForm.controls['email'].touched" class="form-error-msg">{{ 'EMAIL_REQUIRED' | translate }}</small>
              <small *ngIf="basicForm.controls['email'].hasError('email') && basicForm.controls['email'].touched" class="form-error-msg">{{ 'EMAIL_INVALID' | translate }}</small>
            
          </div>


          <div fxFlex="45"  class="pr-16">
            <mat-form-field class="full-width">
            <input matInput formControlName="birthDate" type="date" placeholder="{{ 'BIRTHDAY' | translate }}">
          </mat-form-field>
         
            </div>


                <div fxFlex="45"  class="pr-16">
                  <mat-form-field class="full-width">
                    <input
                      matInput
                      name="cin"
                      formControlName="cin"
                      placeholder="{{ 'CIN' | translate }}"
                      value=""
                      pattern="^[0-9]+$"
                      maxlength="24"
                    >
                  </mat-form-field>
                  <small *ngIf="basicForm.controls['cin'].hasError('pattern') && basicForm.controls['cin'].touched" class="form-error-msg">{{ 'CIN_PATTERN' | translate }}</small>
  <small *ngIf="basicForm.controls['cin'].hasError('required') && basicForm.controls['cin'].touched" class="form-error-msg">{{ 'CIN_REQUIRED' | translate }}</small>
                  
                </div>


                <div fxFlex="45"  class="pr-16">
                  <mat-form-field class="full-width">
                    <input
                      matInput
                      name="passportId"
                      formControlName="passportId"
                      placeholder="{{ 'PASSPORT_ID' | translate }}"
                      value=""
                      pattern="^[0-9]+$"
                      maxlength="10"
                    >
                  </mat-form-field>
                  <small *ngIf="basicForm.controls['passportId'].hasError('pattern') && basicForm.controls['passportId'].touched" class="form-error-msg">{{ 'PASSPORT_ID_PATTERN' | translate }}</small>
                  
                  
                </div>

<div fxFlex="45" class="pr-16">
  <mat-form-field class="full-width">
    <mat-label>{{ 'SOURCE_CODE' | translate }}</mat-label>
    <mat-select formControlName="sourcecode">
      <mat-option *ngFor="let option of sourcecode" [value]="option">{{ option }}</mat-option>
    </mat-select>
  </mat-form-field>
  <small *ngIf="basicForm.controls['sourcecode'].hasError('required') && basicForm.controls['sourcecode'].touched" class="form-error-msg">{{ 'SOURCE_CODE_REQUIRED' | translate }}</small>
</div>


<div fxFlex="45" class="pr-16">
  <mat-form-field class="small-input">
    <mat-label>{{ 'SELECT_COUNTRY' | translate }}</mat-label>
    <mat-select [(value)]="selectedCountry" formControlName="countryPhonecode">
      <mat-option *ngFor="let country of countryCodes" [value]="country.code">
        {{ country.name }} ({{ country.code }})
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="large-input">
    <mat-label>{{ 'PHONE_NUMBER' | translate }}</mat-label>
    <input matInput type="tel" formControlName="phoneNumber" />
  </mat-form-field>
</div>
<div fxFlex="45" class="pr-16">
  <button mat-raised-button color="primary"  (click)="submitForm()">
    {{ 'SAVE' | translate }}
  </button>
  
    <button mat-button color="warn" type="button" (click)="dialogRef.close(false)">{{ 'CANCEL' | translate }}</button>
  </div>
  </div>
  </form>