.blue-color {
    color:blue;
}
 
.green-color {
    color:green;
}
 
.teal-color {
    color:teal;
}
 
.yellow-color {
color:yellow;
}

.red-color {
    color:red;
}

.info-card {
    background-color: black;

  }
  
  .primary {

    color: black;
  }
  
  .filter-input {
    margin-right: 14px;
    width: auto;
    min-width: 150px;
  }
  